@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #041423;
    font-family: 'Roboto', sans-serif;
}

/* Home page start */
#home {
    margin-bottom: 230px;
}

.container {
    width: 80%;
    margin: auto;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    color: #fff;
}

.nav-content ul {
    list-style: none;
}

.nav-content ul li {
    display: inline;
    margin-right: 20px;
}

.nav-content ul li a {
    text-decoration: none;
    color: #fff;
}

.nav-content ul li a:hover {
    text-decoration: none;
    color: rgb(8, 201, 255);
    transition: ease 1s;
}

.logo {
    font-size: 30px;
}

.content-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-top: 70px;
}

.left-side {
    width: 50%;
    height: auto;
    margin-right: 50px;
    color: #fff;
}

.left-side h3 {
    margin-bottom: 30px;
    color: rgb(8, 201, 255);
}

.left-side h1 {
    margin-bottom: 10px;
}

.left-side p {
    margin-bottom: 30px;
}

.left-side a {
    text-decoration: none;
    color: #041423;
}

.social-icons ul {
    display: inline;
    margin-right: 20px;
}

.fa-brands {
    padding: 20px;
    color: #fff;
    border: 2px solid white;
    border-radius: 100%;
}

.fa-brands:hover {
    color: rgb(8, 201, 255);
    border: 2px solid rgb(8, 201, 255);
    transition: ease 1s;
}

.right-side img {
    width: 75%;
    opacity: 0.5;
    border-radius: 100%;
}

.button-download {
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 20px;
}

.button-download:hover {
    transition: ease 1s;
    border-inline: 5px solid rgb(8, 201, 255);
    color: rgb(8, 201, 255);
}
/* Home page end */




/* About us page start */
#about-us {
    margin-bottom: 300px;
}

.about-us-header {
    text-align: center;
    height: 100px;
    margin-bottom: 100px;
}


.about-us-header h1 {
    font-size: 50px;
    color: white;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-card {
    border: 1px solid white;
    padding: 30px;
    border-radius: 10px 10px;
    text-align: center;
    width: 30%;
    color: #fff;
}

.about-card h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

.about-card p {
    margin-bottom: 30px;
}

.about-card button {
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.about-card button:hover {
    transition: ease 1s;
    border-inline: 5px solid rgb(8, 201, 255);
    color: rgb(8, 201, 255);
}
/* About us page end */



/* Project page start */
#project {
    margin-bottom: 220px;
}

.project-header {
    text-align: center;
    height: 100px;
    margin-bottom: 100px;
}

.project-header h1 {
    font-size: 50px;
    color: white;
}

.project-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-card {
    max-width: 300px;
    margin: 0 30px;
    text-align: center;
}

.project-card h1 {
    margin: 10px 0;
    color: #fff;
}

.project-card p {
    color: #fff;
    margin-bottom: 10px;
}

.project-price {
    color: grey;
    font-size: 22px;
}

.project-card button {
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.project-card button:hover {
    transition: ease 1s;
    border-inline: 5px solid rgb(8, 201, 255);
    color: rgb(8, 201, 255);
}
/* Project page end */



/* Contact-Us Page Start */
.contact-us-header {
    text-align: center;
    height: 100px;
    margin-bottom: 100px;
}

.contact-us-header h1 {
    font-size: 50px;
    color: white;
}

.contact-us-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-items {
    width: 60%;
    height: 960px;
    padding: 30px;
    background-color: rgba(250,250,250,0.8);
    border-radius: 25px 25px;
}

.fnamesurname {
    margin: 30px auto;
    text-align: start;
}

.femail {
    margin: 30px auto;
    text-align: start;
}

.ftextarea {
    margin-bottom: 30px;
    text-align: start;
}

label {
    color: #041423;
}

input[type=text], input[type=email], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    font-family: 'Roboto', sans-serif;
    border-radius: 15px 15px;
    border: 2px solid black;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
    border-inline: 5px solid rgb(8, 201, 255);
}

.form-items button{
    width: 150px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 55px;
}

.form-items button:hover {
    transition: ease 1s;
    border-inline: 5px solid rgb(8, 201, 255);
    color: rgb(8, 201, 255);
}


.form-items img {
    border-radius: 15px 15px;
}
/* Contact-Us Page End */


/* Responsive command start */
@media screen and (max-width:933px) {
    .container {
        width: 100%;
    }

    .nav-content ul li {
        display: block;
    }

    .content-content {
        justify-content: center;
        text-align: center;
        height: 400px;
        margin-top: 50px;
    }


    .left-side p {
        overflow: scroll;
    }

    .right-side img {
        width: 50%;
    }

}

@media screen and (max-width:746px) {
    .container {
        width: 100%;
    }

    #about-us {
        margin-top: 550px;
    }

    .left-side {
        margin: auto;
    }

    .content-content {
        display: block;
        justify-content: center;
        text-align: center;
        height: 400px;
        margin-top: 50px;
    }

    .left-side p {
        overflow: scroll;
    }

    .fa-brands {
        padding: 15px;
    }

    .social-icons i {
        margin-bottom: 50px;
    }
}

@media screen and (max-width:640px) {
    .social-icons i {
        margin-bottom: 50px;
    }

    .about-content {
        display: block;
    }

    .about-card {
        width: 80%;
        margin: 15px auto;
    }

    .about-card button {
        padding: 7px;
        font-size: 14px;
    }

    .project-content {
        display: block;
    }

    .project-card {
        margin-bottom: 45px;
        margin-right: auto;
        margin-left: auto;
    }
}


@media screen and (max-width:565px) {
    .fa-brands {
        padding: 10px;
    }

}


@media screen and (max-width:484px) {
    .fa-brands {
        padding: 5px;
        font-size: 10px;
    }

    .form-items button{
        width: 80px;
        font-size: 14px;
    }


}
/* Responsive command end */